/* Servicedata.css */
.Main-servicedata {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #fff;

}

.Servicedata {
  flex: 1 1 20%;
  min-width: 200px;
}

.single-servicecart {
 
  padding: 30px 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease;
}
.single-servicecart:hover {
  transform: translateY(-5px);
}
.single-servicecart ion-icon {
  font-size: 40px;   
  color: #333;       
  text-align: center;
  align-items: center;
}
.single-servicecart button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: none;
}

.single-servicecart h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 10px 0;
}
.single-servicecart p {
  font-size: 20px;
color:#555;
}